{mediaElement.originalResource.type}
<figure class="col-xs-12 col-md-6 thumbnail">
  <f:if condition="{mediaElement.link}">
    <f:then>
      <f:link.typolink parameter="{mediaElement.link}">
        <f:image src="{mediaElement.uid}" title="{mediaElement.title}" alt="{mediaElement.alternative}" maxWidth="{settings.view.event.event.image.maxW}" treatIdAsReference="1" />
       </f:link.typolink>
    </f:then>
    <f:else>
        <f:image src="{mediaElement.uid}" title="{mediaElement.title}" alt="{mediaElement.alt}" maxWidth="{settings.view.event.event.image.maxW}" treatIdAsReference="1" />
    </f:else>
  </f:if>
</figure>
